.hero__container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 60rem;
  padding: 2rem 0;
}

.hero__img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  max-height: 23rem;
  overflow: hidden;
  border-radius: 50px;
}

.hero__img {
  object-fit: contain;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero__title {
  font-size: 2.5rem;
  text-align: center;
}

.hero__desc {
  font-size: 1.2rem;
  text-align: center;
}

.hero__btn {
  background-color: var(--clr-black);
  border: 1px solid transparent;
  padding: 0.9rem 1.5rem;
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.hero__btn:hover {
  background-color: transparent;
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
}

@media (max-width: 1536px) {}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
  .hero__wrapper {
    gap: 1.5rem;
  }

  .hero__title {
    font-size: 2.1rem;
  }

  .hero__desc {
    font-size: 1.15rem;
  }

  .hero__img_container {
    max-width: 30rem;
  }
}

@media (max-width: 768px) {
  .hero__img_container {
    max-width: 25rem;
  }

  .hero__wrapper {
    gap: 1.25rem;
  }

  .hero__title {
    font-size: 1.7rem;
  }

  .hero__desc {
    font-size: 1.05rem;
  }
}

@media (max-width: 640px) {
  .hero__img_container {
    max-height: 20rem;
  }

  .hero__wrapper {
    gap: 1.25rem;
  }

  .hero__title span {
    display: none;
  }

  .hero__title::after {
    font-size: 2rem;
    content: "Base Switch";
  }

  .hero__desc span {
    display: none;
  }

  .hero__desc::after {
    content: "Base Switch converts numbers between base-3 and decimal, and supports addition and subtraction. A simple tool to explore alternative number systems with ease.";
  }

  .hero__btn {
    padding: 0.7rem 1.5rem;
  }
}

@media (max-width: 475px) {}